---
import { Image } from "astro:assets";

const {post} = Astro.props
---

<a href={`/blog/${post.slug}`} class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 hover:shadow-lg px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
  <Image
    transition:name={`post-image-${post.id}`}
    src={post.data.image}
    alt="image"
    height={400}
    width={400}
    format="avif"
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40" />
  <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10" />

  {post.data.partner && <div class="absolute right-0 top-0 bg-red-500 text-white px-2 py-1">
    {post.data.partner}
  </div>}

  <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
    <time datetime="2020-03-16" class="mr-8">
      {new Intl.DateTimeFormat('en-US', { day: 'numeric', month: 'long', year: 'numeric' }).format(post.data.pubDate)}
    </time>
    <div class="-ml-4 flex items-center gap-x-4">
      <svg
        viewBox="0 0 2 2"
        class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
      >
        <circle cx="1" cy="1" r="1" />
      </svg>
      <div class="flex gap-x-2.5">
        <img
          src="https://github.com/juststeveking.png"
          class="h-6 w-6 flex-none rounded-full bg-white/10"
        />
        Steve McDougall
      </div>
    </div>
  </div>
  <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
    <p>
      <span class="absolute inset-0" />
      {post.data.title}
    </p>
  </h3>
</a>